/* RESET */
* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

a{
  color: inherit;
}

/* UTILITIES */
.adaptive{
  width: 100%;
  height: calc(100vh - 100px);
  background-color: black;  
  overflow: auto;

}

.flex{
  display: flex;
}

.container{
  width: 90%;
  margin: 0 auto;
}

/* MAIN */
.wrapper{
  margin-top: 2.8rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  position: relative;
  width: calc(97% / 7);
  margin-bottom: 1rem;
}

.col img{
  display: block;
}

.mic-name{
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 1rem;
  padding: .3rem .8rem;
  background-color: rgba(93, 107, 120, .7);
  color: white;
}

/* FOOTER */
footer{
  height: 100px;
  background-color: #222222;
  color: white;
}
/* COL-MIDDLE */
.col-middle {
  width: 50%;
}

footer ul{
  list-style-type: none;
  text-align: center;
}

li a{
  text-decoration: none;
}

.footer-wrap{
  position: relative;
}

.user-bar{
  margin-top: 1rem;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.big{
  font-size: 1.6rem;
}

.green{
  color: green;
}

a h4{
  font-weight: 500;
}

/* COL-VIDEO */
.col-video{
  justify-content: flex-start;
  width: 25%;
}

.microphone{
  padding: 1.7rem 1rem 0;
  position: relative;
  text-align: center;
}

.video{
  padding: 1.7rem 1rem 0;
  position: relative;
  text-align: center;
}

.col-video h4{
  font-weight: 500;
}

/* COL-END */
.col-end{
  justify-content: flex-end;
  color: red;
  width: 25%;
}

.col-end span{
  position: absolute;
  background-color: #4a4a4a;
  padding: 2rem;
  
}