/* RESET */
* {
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

/* UTILITIES */
.adaptive{
  width: 100%;
  height: calc(100vh - 80px);
  background-color: black;
}

.flex{
  display: flex;
}

.container{
  width: 90%;
  margin: 0 auto;
  overflow: auto;
}

/* MAIN */
.wrapper{
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 4rem;
}

.col {
  position: relative;
  width: calc(97% / 7);
  margin-bottom: 1rem;
}

.col img{
  display: block;
}

.mic-name{
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 1rem;
  padding: .3rem .8rem;
  background-color: rgba(93, 107, 120, .7);
  color: white;
}

/* FOOTER */
footer{
  height: 80px;
  background-color: #222222;
}

.footer-wrap{
  
}

.col-video{
  width: 20%;
}

.col-middle {
  width: 60%;
}

.col-end{
  width: 20%;
}